input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
button {
  background-color: white;
  border: 1px solid #888;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
}
