.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  /* padding: 0px 13px; */
  padding-left: 13px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-left: 23px;
  width: fit-content;
}

.search-input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #444;
  background: transparent;
  padding: 12px 0;
  margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.search-button {
  background-color: #1e60ff;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin:  0 8px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #004de6;
}
